.public-destacado {
	min-width: 300px !important;
	max-width: 700px !important;
}
.public-destacado {
	width: 100% !important;
}
.public-encabezado {
	padding-left: 0px !important;
	width: 100% !important;
}
.public-titulo {
	padding-left: 15px !important;
}
.public-iconos {
	float: right !important;	
	margin-left: 0px !important;
	margin-right: 5% !important;
}
.public-resumen {
	width: 65% !important;
	height: 75px;
	font-size: 14px;
}
.public-comite {
	padding-top: 1% !important;
}
.width-form {
	width: 80%;
}
thead, tbody {
	background-color: #FFF;
}
.registers{
	border-bottom: 1px solid #d6d6d6;
}