#listaMenu{
	margin-top: 0;
}
.logoUEB{
	margin-left: 50px;
	padding-top: 2px;
	float: left;
	width: 105px;
	height: 30px;
}
#avatarLateral{
	background: rgba(255, 255, 255, 0.68);
	height:150px;
	border-radius: 10px;
	margin-bottom:-14px;
	text-align: center;
}
.panelGrid {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.45);
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}
.itemGrid {
	text-align: center;
	text-shadow: none;
	margin-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}
.ui-page{
	background-color: #0d7984;
}
hr {
	border: 0;
	color: #fff;
	background-color: #fff;
	height: 2px;
}
h6 {
	font-size: 2vmin;
	text-shadow: none;
}
.public-destacado {
	display: inline-block;
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 48%;
	height: 300px;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 2px;
	margin-left: 2px;
}
.public-fecha {
	margin-top: 12px;
	width: 100px;
	height: 27px;
	font-size: 11px;
	text-align: right;
	text-shadow: none;
	color: #FFF;
	font-style: italic;
	display: inline;
}
.public-encabezado {
	border-radius: 8px 8px 0px 0px;
	background-color: #FFAA00;
	padding-left: 15px;
	height: 35px;
}
.public-titulo {
	float: left;
	text-align: left;
	text-shadow: none;
	margin-top: 10px;
	color: #FFF;
	width: 81%;
	height: 20px;
}
.public-iconos {	
	float: left;
	margin-top: 4px;
	margin-left: 63px;
	width: 60px;
	height: 27px;
}
.public-resumen {
	text-align: left;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
	margin-right: 15px;
	width: 95%;
	height: 79%;
	font-size: 8px;
	overflow: hidden;
}
.public-imagen {
	float: right;
	margin-top: 12px;
	margin-right: 5%;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-color: green;
	border-width: 1px;
}
.public-contenido {
	height: 100%;
}
.public-comite {
	font-size: 10px;
	text-align: right;
	text-shadow: none;
	float: right;
	color: #FFAA00;
	padding-right: 2%;
	margin-top: 1px;
	height: 20px;
	width: 240px;
	font-style: italic;
}

p#nuevo{
	font-size: 1.5em;
		border-bottom: 1px solid #9C9E9E;
		margin-bottom: 20px;
}

p#nuevo-continuacion{
	font-size: 1.5em;
		border-bottom: 3px solid #9C9E9E;
		margin-bottom: 20px;
		margin-top: 47px;
}

p#formulario{
	font-size: 1em;
	padding: 6px;
	width: 70%;
	margin-left: 15%;
	border-bottom: 1px solid #E6E5E5;
	border-top: 1px solid #E6E5E5;
	margin-bottom: 10px;
	text-align: left;
}

.miBoton{
	width: 10%;
}
#pie{
	padding-bottom: 10px;
	height: 10px;
	text-align: center;	
	font-size: 12px;
	font-weight: lighter;
}

.ui-panel-inner {
	padding: 0;
}

.ui-dialog
{
    background-color: rgba(34,34,34,0.25) !important;
}

.ui-dialog.ui-overlay-a 
{
    background-image: none;
}
.headers {
	background-color: #FFF;
	border-bottom:solid #E8771D;
	border-top: none;
}
.pie{
	background-color: #FFF;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px; 
	font-weight: lighter;
	font-size: 11px;
	border: none;
}
.tablist-left {
    width: 35%;
    display: inline-block;
}
.tablist-content {
    width: 64%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.formText {
	font-variant: small-caps;
	text-shadow: none;
	font-weight: bold;
	font-size: 1.3vw;
	margin: 4px;
}
.text {
	font-size: 0.6em !important;
}
.title-menu {
	font-weight:bold;
	margin-top: 0 !important;
}

.search-bar {
	margin: auto;
	width: 85% !important;
	background-color: #FFF;
	border-radius: 7px;
	padding-left: 10% !important;
	padding-top: 3px;
	margin-bottom: 10px;
	margin-left: 2.5%;
	padding-right: 3% !important;
}

#avatar-bg{
	height:150px;
	border-radius: 10px;
	margin-bottom:-14px;
	text-align: center;
}

.shareIcon{
	width: 7vmin;
	height: 7vmin;
}
.shareLink{
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="public-destacado"] {
        width: 100%;
    }
    [class*="public-destacado"] {
        width: 100%;
    }
    [class*="tablist-left"] {
        width: 100%;
    }
    [class*="tablist-content"] {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

}